<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ht.fyforandroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.READ_CONTACTS"/><!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/><!-- 写入通讯录权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <!-- for log. -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light"
        >
        <activity
            android:name=".test.SplashActivity"
            android:label="SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".test.MainActivity"
            android:label="MainActivity"
            >
        </activity>

        <activity android:name=".base.WebViewActivity"/>

        <activity android:name=".test.mvptest.view.WeahterActivity"/>

        <activity android:name=".test.webview.TestWebViewActivity"/>
        <activity android:name=".test.retrofit.RerofitTestActivity"/>


        <!--<activity android:name=".test.scheme.Test1Activity">-->
        <!--&lt;!&ndash;要想在别的App上能成功调起App，必须添加intent过滤器&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash;协议部分，随便设置&ndash;&gt;-->
        <!--<data-->
        <!--android:scheme="myscheme://"-->
        <!--/>-->
        <!--&lt;!&ndash;下面这几行也必须得设置&ndash;&gt;-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->
        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<category android:name="android.intent.category.BROWSABLE"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <!--<activity android:name=".test.scheme.Test1Activity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->

                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->

                <!--<data android:scheme="myscheme://"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <activity android:name=".test.scheme.Test1Activity">
            <!--要想在别的App上能成功调起App，必须添加intent过滤器-->
            <intent-filter>
                <!--协议部分，随便设置-->
                <data
                    android:host="goods"
                    android:path="/goodsDetail"
                    android:port="8888"
                    android:scheme="xl"
                    />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
